<mat-card class="page-wrapper">

  <div class="text-center p-1">
    <h2>{{ 'PRODUCTS.CAPTION' | translate }}</h2><br>
    <h6>{{ 'LEGEND_01' | translate }}</h6>
    <!-- <img src="assets/images/preciosJulio.jpg" alt="Lista de Precios" class="p-1"> -->
  </div>
  <br>

  <div class="card-columns">
    <div class="card">
      <h5 class="card-title text-center pt-2">📌 Precio de {{ category.frutos }}:</h5>
      <img src="assets/images/frutosSecos1.jpg" class="card-img-top" alt="Foto Frutos frutos">
      <div class="card-body">
        <p class="card-text" *ngFor="let prod of frutos">
          <span class=" check fa fa-check-square"></span>
          {{ prod.description }} {{ prod.amount | currency:'':'$':'1.0-0' }} {{ prod.unitType }}>
        </p>
      </div>
    </div>
    <div class="card">
      <h5 class="card-title text-center pt-2">📌 Precio de {{ category.semillas }}:</h5>
      <img src="assets/images/semillas.jpg" class="card-img-top" alt="Foto Semillas">
      <div class="card-body">
        <p class="card-text" *ngFor="let prod of semillas">
          <span class=" check fa fa-check-square"></span>
          {{ prod.description }} {{ prod.amount | currency:'':'$':'1.0-0' }} {{ prod.unitType }}
        </p>
      </div>
    </div>
    <div class="card">
      <h5 class="card-title text-center  pt-2">📌 Precio de {{ category.frutas }}:</h5>
      <img src="assets/images/frutas.jpg" class="card-img-top" alt="Foto Frutas">
      <div class="card-body">
        <p class="card-text" *ngFor="let prod of frutas">
          <span class=" check fa fa-check-square"></span>
          {{ prod.description }} {{ prod.amount | currency:'':'$':'1.0-0' }} {{ prod.unitType }}
        </p>
      </div>
    </div>
    <div class="card">
      <h5 class="card-title text-center pt-2">📌 Precio de {{ category.otros }}:</h5>
      <img src="assets/images/otrosProductos.jpg" class="card-img-top" alt="Foto Otros Productos">
      <div class="card-body">
        <p class="card-text" *ngFor="let prod of otros">
          <span class=" check fa fa-check-square"></span>
          {{ prod.description }} {{ prod.amount | currency:'':'$':'1.0-0' }} {{ prod.unitType }}
        </p>
      </div>
    </div>
  </div>

  <hr>
  <div class="text-center">
    <button type="button" class="btn btn-dark m-1">#sanoynatural</button>
    <button type="button" class="btn btn-dark m-1">#alimentacionsana</button>
    <button type="button" class="btn btn-dark m-1">#bienestar</button>
    <button type="button" class="btn btn-dark m-1">#frutossecos</button>
  </div>

</mat-card>