<div class="main-container">
    <app-header></app-header>
    <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed" class="toggle-menu-button">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="0">
        <mat-sidenav #snav id="snav" class="pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0"
            [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches" fxLayout="column"
            fxLayoutAlign="center stretch">
            <app-sidebar fxLayout="column"></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content class="page-wrapper">
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>
<app-footer></app-footer>