<mat-toolbar color="primary" class="header_">
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" >
    <ul fxLayout="row" FxLayoutGap="20px">
      <li>
        <button mat-icon-button >
          <span href="#" fxLayout="row" [matMenuTriggerFor]="langSelect" class="pl-2" >
            <mat-icon class="toolbar-icon" matTooltip="{{ 'HEADER.LANGUAGES.TOOLBAR' | translate }}">language</mat-icon>
          </span>
          <mat-menu #langSelect="matMenu">
            <button mat-menu-item *ngFor="let lang of langs" (click)="onClick(lang)">
              <span>{{ "HEADER.LANGUAGES." + lang | translate }}</span>
            </button>
          </mat-menu>
        </button> 
      </li>
      <li>
        <button mat-icon-button>
          <mat-icon class="toolbar-icon" matTooltip="{{ 'HEADER.SETTINGS' | translate }}">settings</mat-icon>
        </button>
      </li>
      <li>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="toolbar-icon" matTooltip="{{ 'HEADER.USER.CAPTION' | translate }}">person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            {{ 'HEADER.USER.LOGOUT' | translate }}
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>