<mat-card fxFlexFill class="mat-elevation-z8" class="page-wrapper">
  <div class="container" class="text-center pt-1 mb-0">
    <div class="card mb-1 mx-3">
      <div class="row no-gutters">
        <div class="col-md-12 text-center">
          <div class="card-body">
            <h2 class="card-title">{{ 'HOME.SUBTITLE' | translate }}</h2>
            <p class="card-text"> {{ 'LEGEND_01' | translate }}<br>
            </p>
            <p class="card-text" class="text-muted">
                {{ 'LEGEND_02' | translate }}<br>{{ 'LEGEND_03' | translate }}
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <img src="assets/images/logo.jpg" class="card-img" alt="Logo de Frutos Secos Tandil">
        </div>
      </div>
    </div>

    <div class="card my-2 mx-3">
      <div class="row no-gutters">
        <div class="col-md-12 text-center">
          <div class="text-center p-2 mb-1">
            <h5 class="p-2">{{ 'HOME.LEGEND_01' | translate}}</h5>
            <div class="pb-1"*ngFor="let prod of allProducts">
              <span class=" check fa fa-check-square"></span>
              {{ prod }},
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</mat-card>