<mat-card class="page-wrapper">
  <div class="card text-center pt-2 mx-2">
    <div class="container">
      <h2 class="pt-3 pb-3">{{month}}</h2>
      <h5>{{monthly_promotion}}</h5>
      <p class="lead pt-2">
        <img mat-card-image src="assets/images/mascabo.jpg" class="card-img py-2" alt="Imagen de la Promoción"><br><br>
        {{ 'LEGEND_01' | translate }} <br><br>
      </p>
    </div>
  </div>
</mat-card>