
img {
    max-width: 450px;
    position: relative;
    animation: animation 2s;
    animation-direction: alternate;
  }
  
  @keyframes animation {
    0%   {left: 0px; top: 0px;}
    25%  {left: 200px; top: 0px;}
    100% {left: 0px; top: 0px;}
  }