.sidebar_{
    width: 250px;
    padding-top: 0px;

    .profile-card{
        font-size: 12px;
        text-align: center;
        padding: 10px 20px 20px 20px;

        img {
            width: 130px;
            height: 130px;
            object-fit: cover;
            border-radius: 50%;
        }
    } 
  
    .mat-icon {
        vertical-align: middle;
        margin-right: 20px;
    }
}