<mat-nav-list class="sidebar_">
  <div class="profile-card" >
    <div class="header">
      <h4>{{ 'TITLE' | translate }}</h4>
      <p fxLayoutAlign="space-around center" >{{ 'SIDEBAR.EMAIL' | translate }}</p>
    </div>
    <img src="assets/images/mix.jpg" alt="Frutos Secos">
  </div>

  <mat-divider></mat-divider>
  <h1 matSubheader>{{ 'SIDEBAR.MENU' | translate }}</h1>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">{{ 'HOME.TITLE' | translate }}</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">{{ 'PRODUCTS.TITLE' | translate }}</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/promotions">{{ 'PROMOTIONS.TITLE' | translate }}</a> 

  <mat-divider></mat-divider>

  <h1 matSubheader>{{ 'SIDEBAR.CONTACT.TITLE' | translate }}</h1>
  
  <div>
    <a mat-list-item href="https://www.facebook.com/frutossecostandil/" target="_blank">
      <a class="fa fa-facebook-square" matTooltip="Facebook"></a>    
      <a mat-list-item>Facebook</a>
    </a>
    <a mat-list-item href="https://www.instagram.com/frutossecostandil/" target="_blank">
      <a target="_blank"  class="fa fa-instagram" matTooltip="linkedin"></a>
      <a mat-list-item>Instagram</a>
    </a>
    <a mat-list-item href="https://wa.me/5492494316474" target="_blank">
      <a class="fa fa-whatsapp" matTooltip="WhatsApp"></a>
      <a mat-list-item>WhatsApp</a>
    </a>
  </div>
   
</mat-nav-list>