 //.class creados por mi terminan en _
@import "./assets/styles/theme";

* {
  font-family: Roboto;
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-weight: 300;
  font-family: Roboto;
  
}

html {
  position: relative;
  min-height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer-container {
  overflow:hidden !important;
}

html .page-wrapper {
     height: 87vh;

  .page-content {
    padding: 7px;
  }


  .check {
    color:#00796b;
  }
}

// Card de Material
.mat-card {

  overflow-x: auto;
  padding: 10px 40px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
